@charset "UTF-8";
@font-face{
    font-family: 'Monsserat regular';
    src: url(fontes/Montserrat-Regular.ttf) format('truetype');
   }
@font-face{
    font-family: 'Monsserat bold';
    src: url(fontes/Montserrat-SemiBold.ttf) format('truetype');
   }

/* Configurações Gerais */
body {
    background-color: black;
}

h1{
    font-family: 'Monsserat bold', sans-serif;
    color: white;
}

img {
    width: 100%;
}

/* Configurações Do Menu */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    font-family: 'Monsserat Regular', sans-serif;
    color: white;
    font-size: 100%;
    text-decoration: none;
    padding: 8px 20px;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
    transition: .5s;
    box-shadow: 0 0 3px 5px white;
	text-decoration: none;
	color: black;
	background: white;
}

/* Configurações Das Fotos Expostas na Pagina 'Trabalhos' */
.fotos{
    display: flex;
    justify-content: space-around;
    width:100%;
}

.fotos img{
    width: 32%;
}

section{
    border: 1px solid white;
    padding-bottom: 22px;
}

.title {
    font-family: 'Monsserat bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;
}

